@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./reset.css");
@import url("./components.css");

:root {
    /* Colors */

    /* Blues */
    --main-blue: hsl(210, 100%, 50%);
    --light-blue: hsl(210, 100%, 75%);
    --dark-blue: hsl(210, 100%, 30%);
    --soft-blue: hsl(210, 50%, 60%);
    --teal-accent: hsl(180, 80%, 60%);
    --purple-accent: hsl(240, 80%, 60%);

    /* Greys */
    --grey-0: hsl(210, 10%, 11%);
    --grey-1: hsl(210, 9%, 15%);
    --grey-3: hsl(210, 9%, 72%);
    --grey-4: hsl(210, 15%, 85%);
    --grey-5: hsl(210, 28%, 98%);

    /* Warning and Error Colors */

    /* Error */
    --error-color: hsl(0, 100%, 50%);

    /* Warning Color */
    --warning-color: hsl(30, 100%, 50%);

    /* Success Color */
    --success-color: hsl(120, 100%, 40%);

    /* Info Color */
    --info-color: hsl(210, 100%, 50%);

    /* Light Variants for Backgrounds */
    --error-light: hsl(0, 100%, 90%);
    --warning-light: hsl(30, 100%, 90%);
    --success-light: hsl(120, 100%, 90%);
    --info-light: hsl(210, 100%, 90%);

    /* Fonts */
    --font-primary: "Inter";

    /* Weights */

    --title-1-weight: 600px;
    --title-2-weight: 600px;
    --title-3-weight: 400px;
    --text-weight: 400px;

    /* Font-sizes */
    /* Titles */
    --title-1-fontsize: 48px;
    --title-2-fontsize: 38px;
    --title-3-fontsize: 30px;

    /* Body Text */
    --text-1-fontsize: 24px;
    --text-2-fontsize: 20px;
    --text-3-fontsize: 16px;

    /* Line-heights */

    --title-1-lineheight: 72px;
    --title-2-lineheight: 64px;
    --title-3-lineheight: 44px;
    --text-1-lineheight: 44px;
    --text-2-lineheight: 30px;
    --text-3-lineheight: 27px;

    /* Spacing Scale */
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;

    /* Border Radius -> adicionar mais 2*/
    --border-radius: 8px;
}
